* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
  }
  body {
    background: linear-gradient(135deg, #153677, #4e085f);
    width: 100%;
    min-height: 100vh;
    padding: 10px;

  }
  .container {
    background: white;
    width: 100%;
    max-width: 540px;
    margin: 100px auto;
    padding: 40px 35px 70px;
    border-radius: 20px;
  }

  .container h1{
    margin-bottom: 25px;
    color: #002765;
    display: flex;
    align-items: center;
  }
  .container h1 img{
    width: 35px;
    margin-left: 10px;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background-color: #edeef0;
  }
  .task input {
    border: 0;
    outline: 0;
    background: transparent;
    padding: 10px;
    font-size: 18px;
  }
  .task button {
    border: 0;
    outline: 0;
    padding: 16px 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background: #ff5506;
    border-radius: 40px;
    cursor: pointer;
  }
  ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
  }
  ul li.checked{
    color: #555;
    text-decoration: line-through;
  }
  ul li.checked::before{
    background-image: url(assets/images/checked.png);
  }

  #error{
    margin: 12px 15px;
    visibility: hidden;
  }
  ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

    transition: 0.2s;
  }
  ul li span:hover{
    background-color: #edeef0;
  }